{% extends "base.html" %}
{% load django_bootstrap5%}

{% block content %}
{#    <form action="" method="POST">#}
{#    {% csrf_token %}#}
    {% bootstrap_formset formset %}
    {% bootstrap_button button_type="submit" content="Перейти к оплате" id="checkout" %}
{#    </form>#}


    <script>
        console.log(123123123)
        this.pay = function () {
            var widget = new cp.CloudPayments();
            widget.pay('auth', // или 'charge'
                { //options
                    publicId: 'pk_aad02fa59dec0bacabf00955821fd', //id из личного кабинета
                    description: 'Оплата товаров в journey', //назначение
                    amount: 100, //сумма
                    currency: 'RUB', //валюта
                    accountId: 'user@example.com', //идентификатор плательщика (необязательно)
                    invoiceId: '1234567', //номер заказа  (необязательно)
                    email: 'user@example.com', //email плательщика (необязательно)
                    skin: "mini", //дизайн виджета (необязательно)
                    autoClose: 3, //время в секундах до авто-закрытия виджета (необязательный)
                    data: {
                        myProp: 'myProp value'
                    },
                    configuration: {
                        common: {
                            successRedirectUrl: "https://https://5b6f-5-76-232-67.ngrok-free.app/tours/1/", // адреса для перенаправления
                            {#failRedirectUrl: "https://{ваш сайт}/fail"        // при оплате по Tinkoff Pay#}
                        }
                    },
                    payer: {
                        firstName: 'Тест',
                        lastName: 'Тестов',
                        middleName: 'Тестович',
                        birth: '1955-02-24',
                        address: 'тестовый проезд дом тест',
                        street: 'Lenina',
                        city: 'MO',
                        country: 'RU',
                        phone: '123',
                        postcode: '345'
                    }
                },
                {
                    onSuccess: function (options) { // success
                        //действие при успешной оплате
                        console.log(1, options)
                    },
                    onFail: function (reason, options) { // fail
                        //действие при неуспешной оплате
                        console.log(2, reason, options)
                    },
                    onComplete: function (paymentResult, options) { //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
                        //например вызов вашей аналитики
                        console.log(3, paymentResult, options)
                    }
                }
            )
        };

        $('#checkout').click(pay);
    </script>

{% endblock %}