{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user_obj.get_full_name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    {% with full_name=user.get_full_name status='' %}
        {% include "account/includes/sections/profile_info.html" %}
    {% endwith %}

    <div class="row my-4 gy-3">
        <div class="col-12 col-lg-3">
            {% with email=user.email %}
                {% include "account/includes/sections/contacts.html" %}
            {% endwith %}
        </div>

        <div class="col-12 col-lg-9">
            {% include "account/includes/sections/tours.html" %}
        </div>
    </div>
{% endblock %}

