{% extends 'base.html' %}
{% load static %}

{% block title %}Турист{% endblock %}
{% block menu %}
{% if user.is_authenticated and user.profile == user_obj %}
<!--<ul class="navbar-nav">-->
<!--    <li>-->
<!--        <a class="nav_link" href="{% url "update_guide_profile" user_obj.id %}">Update profile</a>-->
<!--    </li>-->
<!--</ul>-->
{% endif %}
{% endblock %}
{% block content %}
<div class="profile-info__item">
    {% if user.is_authenticated %}
        <p class="profile-info__description">{{ user_obj.get_full_name }}</p>
            {% if user == user_obj %}
                <h2 class="profile-info__title">Вы на своей личной странице</h2>
            {% else %}
                <h2 class="profile-info__title">Вы на странице нашего туриста</h2>
            {% endif %}
    {% endif %}

</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Туры
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Профиль
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Контакт
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="profile-info__item">

            {% if user.is_authenticated and user.profile == user_obj %}
                <h2 class="profile-info__title">Пока нет Ваших избранных туров.</h2>
                <li>
                    <a class="nav_link" href="{% url '/' %}">Выбрать тур</a>
                </li>
            {% else %}
                <h2 class="profile-info__title">У данного Туриста пока нет туров.</h2>
            {% endif %}


        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container">
            <div class="profile-info">
                <div class="profile-info__item">
                    <h2 class="profile-info__title">Дата рождения:</h2>
                    <p class="profile-info__description">{{ user_obj.birthdate|date:'d.m.Y' }}</p>
                </div>
                <div class="profile-info__item">
                    <h2 class="profile-info__title">Текущая локация:</h2>
                    <p class="profile-info__description">{{ user_obj.current_location }}</p>
                </div>
                <div class="profile-info__item">
                    <h2 class="profile-info__title">Языки:</h2>
                    <p class="profile-info__description">{{ user_obj.languages }}</p>
                </div>
                <div class="profile-info__item">
                    <h2 class="profile-info__title">О себе:</h2>
                    <p class="profile-info__description">{{ user_obj.about }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="container">
            <div class="profile-info">
                <div class="profile-info__item">
                    <h2 class="profile-info__title">Почта:</h2>
                    <p class="profile-info__description">{{ user_obj.user.email }}</p>
                </div>
                <div class="profile-info__item">
                    <h2 class="profile-info__title">Номер телефона:</h2>
                    <p class="profile-info__description">скоро появится...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'my_scripts/script_1.js' %}"></script>
{% endblock %}

