{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pill.css' %}">
{% endblock %}

{# ТАБЫ #}
<ul class="nav gap-2" id="myTab" role="tablist">
    {% if user.is_guide %}
        {% include 'account/includes/controllers/guide.html' %}
    {% else %}
        {% include 'account/includes/controllers/tourist.html' %}
    {% endif %}
</ul>

<div class="tab-content" id="myTabContent">
    {% include 'account/includes/tabs/guide/confirmed.html' %}
    {% include 'account/includes/tabs/guide/sent_to_verification.html' %}
    {% include 'account/includes/tabs/guide/refused.html' %}
</div>

<script src="{% static 'my_scripts/script_1.js' %}"></script>