.card {
    border: none;
    box-shadow: 15px 16px 38px -9px rgba(0,0,0,0.78);
    -webkit-box-shadow: 15px 16px 38px -9px rgba(0,0,0,0.78);
    -moz-box-shadow: 15px 16px 38px -9px rgba(0,0,0,0.78);
}

.card-img-top {
    filter: brightness(80%);
}