<div class="dropdown">
    <button class="btn rounded-3 text-dark btn-light fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="cascadia-font">{{ user.email }}</span>
    </button>

    <ul class="dropdown-menu cascadia-font">
        {% if user.is_guide %}
            <li>
                <a class="dropdown-item" href="{% url "guide_profile" user.guide_profile.pk %}">
                    <span>Личный кабинет</span>
                </a>
            </li>

            <!-- Обновить профиль -->
            <li>
                <a class="dropdown-item" href="{% url "update_guide" user.pk %}">
                    Обновить профиль
                </a>
            </li>

            <!-- Создать Тур -->
            <li>
                <a class="dropdown-item" href="{% url 'tour_create' %}">
                    Создать Тур
                </a>
            </li>
        {% else %}
            <li>
                <a class='dropdown-item' href="{% url 'tourist_profile' user.pk %}">
                    <span>Личный кабинет</span>
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="#">
                    Обновить профиль
                </a>
            </li>

        {% endif %}

        <!-- Общие поля -->
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Выйти</a></li>
    </ul>
</div>