{# Tours #}
<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="profile-info__item">
        {% if user.guide_profile == guide_profile %}
            <div class="row my-4">
                <div class="col d-flex justify-content-end">
                    {% if is_verified %}
                        <a class="btn btn-success rounded-3 shadow"
                           role="button"
                           href="{% url 'tour_create' %}">Создать</a>
                    {% else %}
                        <div class="alert alert-warning mt-5" role="alert">
                            У вас нет возможности создать Тур
                        </div>
                    {% endif %}
                </div>
            </div>


            {#   Tours List   #}
            <div class="row g-5 mb-5">
                {% for tour in guide_tours %}
                    <div class="col-12">
                        <div class="col-12">
                            {% include "account/includes/guide_tour_card.html" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% if guide_confirmed_tours %}
                {% for tour in guide_confirmed_tours %}
                    {% include "tour/includes/tour_card.html" %}
                {% endfor %}
            {% else %}
                <h2 class="profile-info__title">У данного Гида пока нет туров.</h2>
            {% endif %}
        {% endif %}
    </div>
</div>