{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}">
    <title>{% block title %} gallery {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tour_list' %}">KZ TOURS</a>
        <div class="" id="navbarNav">
            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                <li>
                    <a class="nav_link" href="{% url "logout" %}">LOGOUT</a>
                </li>
                {% if user.profile.is_guide %}
                <li>
                    <a class="nav_link" href="{% url "tour_create" %}">Create Tour</a>
                </li>
                {% endif %}

                {% else %}
                {% url 'login' as login_url %}
                {% url 'register' as register_url %}
                <li>
                    <a class="nav-link" href="{% url "login" %}">LOGIN</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url "register" %}">REGISTER</a>
                </li>
                {% endif %}
                {% block menu %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
