{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.title }}</h5>
                    <p class="card-text">Описание тура: {{ tour.description }}</p>
                    <p class="card-text">Тур проводит: <a
                            href={% url 'guide_profile' tour.author.guide_profile.pk %}>{{ tour.author.get_full_name }}</a>
                    </p>
                    <p class="card-text">Язык проведения тура: {{ tour.language }}</p>
                    <p class="card-text">Начало тура: {{ tour.start_date }}</p>
                    <p class="card-text">Завершение тура: {{ tour.end_date }}</p>
                    <p class="card-text">Максимальное количество людей на тур: {{ tour.max_number_of_tourists }}</p>
                    <p class="card-text">Минимальное количество людей на тур: {{ tour.min_number_of_tourists }}</p>
                    <p class="card-text">Цена: {{ tour.price }} тенге</p>
                    <p class="card-text"><b>Депозит: {{ tour.get_deposit }} тенге</b></p>
                    <p class="card-text"><b>Кол-во людей, забронировавших тур: {{ tour.tourists.count }}</b></p>


                    <p class="card-text" style="color:orange;"><b>Оценка: {{ tour.average_rating }}</b></p>



                    {% if user in tour.tourists.all %}
                        <p class="card-text fw-bold text-success">
                            Вы забронировали тур.
                            С учётом количества броней, оставшаяся сумма
                            составляет: {{ tour.get_grand_total_for_booking }} тенге
                        </p>
                    {% elif user not in tour.tourists.all and user != tour.author %}
                        <p class="card-text">
                            <span class="fw-bold"> С учётом количества броней, сумма тура для вас составляет: {{ tour.get_grand_total }} тенге </span>
                        </p>
                    {% endif %}
                    {% if user == tour.author %}
                        <p>Статус: {{ tour.get_moderation_status_display }} </p>
                        <p class="card-text"><small class="text-muted">Обновлено: {{ tour.updated_at }}</small></p>
                        <a class="nav-item btn btn-success" role="button" href="{% url 'tour_update' tour.pk %}">Обновить тур</a>
                    {% elif tour.moderation_status == 'FINISHED' %}
                        <p><b style="color: red;">{{ tour.get_moderation_status_display }}</b></p>
                    {% elif tour.moderation_status == 'STARTED' %}
                        <p><b style="color: green;">{{ tour.get_moderation_status_display }}</b></p>
                    {% endif %}

                </div>

                {# Booking button #}
                {% if user not in tour.tourists.all and user.is_tourist and tour.moderation_status == 'CONFIRMED' %}
                    {% if tour.tourists.count < tour.max_number_of_tourists %}
                        <div class="card-footer">
                            <form action="{% url 'book_tours' tour.pk %}" method="POST">
                                {% include 'tour/booking/includes/book.html' with button_class='btn btn-outline-success' button_text='Забронировать' %}
                            </form>
                        </div>
                    {% endif %}
                {% elif user in tour.tourists.all and tour.moderation_status == 'CONFIRMED' %}
                    <div class="card-footer">
                        <form method="POST" action="{% url 'book_tours' tour.pk %}">
                            {% include 'tour/booking/includes/book.html' with button_class='btn btn-outline-danger' button_text='Отменить бронь' %}
                        </form>
                    </div>
                {% endif %}


                {% if user in tour.tourists.all and tour.moderation_status == 'FINISHED' %}
                    {% if user not in user.rating_by_tourist.all %}
                        <form action="{% url 'tour_rating' tour.pk %}" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% bootstrap_button button_type="submit" content="Оценить тур"%}
                        </form>
                    {% endif %}
                {% endif %}

                {% for rating in tour.tour_rating.all %}
                    {{ rating.tourist }} Оценки: {{ rating.correspondence }}, {{ rating.professionalism }}
                    <p>Текст комментария: {{ rating.text_review }}</p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}