{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}


{% block content %}
    <div class="container mb-5">
        <h1 class="text-center mb-5 text-dark monserat-bold-font">Туры по Казахстану</h1>
        <div class="row g-5">
            {% for tour in tours %}
                <div class="col-md-6 col-lg-4">
                    {% include 'tour/includes/tour_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
