{% if user.guide_profile == guide_profile %}
    {#   Tours List   #}
    <div class="row g-5 mb-5">
        {% for tour in guide_tours %}
            {% if tour.moderation_status == status %}
                <div class="col-12">
                    {% include "account/includes/guide_tour_card.html" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% else %}
    {% if guide_confirmed_tours %}
        {% for tour in guide_confirmed_tours %}
            {% include "tour/includes/tour_card.html" %}
        {% endfor %}
    {% else %}
        <h4 class="profile-info__title mt-2 text-muted">Не найдено</h4>
    {% endif %}
{% endif %}